//= head.html
<body>
<div class="mobile_width">
    <div class="clearfix_">
        <header class="mobile-header desktop_hidden flex_row">
            <div class="mobile-header__logo">
                <a href="">
                    <img src="assets/images/mobile-logo.jpg" alt="">
                </a>
            </div>
            <div class="mobile-header__icon">
                <div class="mobile-header__icon-item">
                    <a href="">
                        <img src="assets/images/phone.png" alt="" title="">
                    </a>
                </div>
                <div class="mobile-header__icon-item">
                    <a href="">
                        <img src="assets/images/mail.png" alt="" title="">
                    </a>
                </div>
                <div class="mobile-header__icon-item">
                    <a href="" class="lang-link">ru</a>
                </div>
            </div>
            <div class="mobile-header__burger">
                <div class="mobile-header__burger-inner"></div>
            </div>
            <div class="btn-close-aside desktop_hidden"></div>

        </header>
        <div class="flex_row stretch position_relative">
            //= aside.html
            <div class="content wrapper">
                <div class="wrapper-inner">
                    //= header.html
                    //= bread-crumbs.html

