<div class="popup-overlay">
<!-- форма заявки -->
    <div class="popup order-form">
        <div class="user-form popup-form">
            <div class="user-form__title popup-title">
                Форма заявки
            </div>
            <div class="user-form__content">
                <p class="user-form__attention">
                    <span class="yellow_text">*</span>
                    Поля, обязательные для заполнения
                </p>
                <form action="" method="post">
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                ФИО контактного лица:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field" type="text" placeholder="Введите ФИО...">
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Название компании:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field" type="password" placeholder="Введите название...">
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Страна:<span class="yellow_text">*</span>
                            </span>
                            <select class="form__field custom__select popup-custom__select">
                                <option value="" disabled selected>Выберите страну</option>
                                <option value="">Страна</option>
                                <option value="">Страна</option>
                                <option value="">Страна</option>
                                <option value="">Страна</option>
                                <option value="">Страна</option>
                                <option value="">Страна</option>
                            </select>
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Город:<span class="yellow_text">*</span>
                            </span>
                            <select class="form__field custom__select popup-custom__select">
                                <option value="" disabled selected>Выберите город</option>
                                <option value="">город</option>
                                <option value="">город</option>
                                <option value="">город</option>
                                <option value="">город</option>
                                <option value="">город</option>
                                <option value="">город</option>
                            </select>
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Почтовый индекс:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field" type="password" placeholder="Введите индекс...">
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Улица:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field" type="password" placeholder="Введите улицу...">
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Номер дома:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field" type="password" placeholder="Введите номер...">
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Электронная почта:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field" type="password" placeholder="Введите e-mail...">
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Контактный телефон:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field phone-mask" type="text">
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Факс:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field phone-mask" type="text">
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label custom-input-file">
                            <span class="field__title">
                                Прикрепить документ:
                            </span>
                            <input type="file" name="">
                            <span class="custom-input-file__btn btn">Выберите файл</span>
                            <span class="clearfix_ custom-input__block">
                                <input type="text" class="form__field custom-input-file__text" value="Выберите файл" readonly>
                            </span>
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Примечания:
                            </span>
                            <textarea class="form__field custom__textarea" placeholder="Введите сообщение..."></textarea>
                        </label>
                    </div>
                    <div class="submit__btn-wrap">
                        <div class="btn__wrap">
                            <button type="submit" class="btn btn_yellow-theme" value="ОФОРМИТЬ ЗАЯВКУ">ОФОРМИТЬ ЗАЯВКУ</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="popup__close"></div>
    </div>

<!-- форма отзыва -->
    <div class="popup review-form">
        <div class="user-form popup-form">
            <div class="user-form__title popup-title">
                Оставить отзыв
            </div>
            <div class="user-form__content">
                <p class="user-form__attention">
                    <span class="yellow_text">*</span>
                    Поля, обязательные для заполнения
                </p>
                <form action="" method="post">
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                ФИО контактного лица:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field" type="text" placeholder="Введите ФИО...">
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Название компании:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field" type="password" placeholder="Введите название...">
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Должность:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field" type="password" placeholder="Введите Вашу должность...">
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Почтовый индекс:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field" type="password" placeholder="Введите индекс...">
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Электронная почта:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field" type="password" placeholder="Введите e-mail...">
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Контактный телефон:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field phone-mask" type="text">
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Отзывы, пожелания:
                            </span>
                            <textarea class="form__field custom__textarea" placeholder="Введите сообщение..."></textarea>
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label custom-input-file">
                            <span class="field__title">
                                Прикрепить фото:
                            </span>
                            <input type="file" name="">
                            <span class="clearfix_ custom-input__block">
                                <span class="custom-input-file__btn btn">Выберите файл</span>
                                <input type="text" class="form__field custom-input-file__text" value="Выберите файл" readonly>
                            </span>
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label custom-input-file">
                            <span class="field__title">
                                Прикрепить логотип:
                            </span>
                            <input type="file" name="">
                            <span class="clearfix_ custom-input__block">
                                <span class="custom-input-file__btn btn">Выберите файл</span>
                                <input type="text" class="form__field custom-input-file__text" value="Выберите файл" readonly>
                            </span>
                        </label>
                    </div>
                    <div class="submit__btn-wrap">
                        <div class="btn__wrap">
                            <button type="submit" class="btn btn_yellow-theme" value="оставить отзыв">оставить отзыв</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="popup__close"></div>
    </div>

<!-- форма резюме -->
    <div class="popup resume-form">
        <div class="user-form popup-form">
            <div class="user-form__title popup-title">
                Отправить резюме
            </div>
            <div class="user-form__content">
                <p class="user-form__attention">
                    <span class="yellow_text">*</span>
                    Поля, обязательные для заполнения
                </p>
                <form action="" method="post">
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                ФИО контактного лица:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field" type="text" placeholder="Введите ФИО...">
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Название компании:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field" type="password" placeholder="Введите название...">
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Должность:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field" type="password" placeholder="Введите Вашу должность...">
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Почтовый индекс:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field" type="password" placeholder="Введите индекс...">
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Электронная почта:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field" type="password" placeholder="Введите e-mail...">
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Контактный телефон:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field phone-mask" type="text">
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Отзывы, пожелания:
                            </span>
                            <textarea class="form__field custom__textarea" placeholder="Введите сообщение..."></textarea>
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label custom-input-file">
                            <span class="field__title">
                                Прикрепить фото:
                            </span>
                            <input type="file" name="">
                            <span class="clearfix_ custom-input__block">
                                <span class="custom-input-file__btn btn">Выберите файл</span>
                                <input type="text" class="form__field custom-input-file__text" value="Выберите файл" readonly>
                            </span>
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label custom-input-file">
                            <span class="field__title">
                                Прикрепить логотип:
                            </span>
                            <input type="file" name="">
                            <span class="clearfix_ custom-input__block">
                                <span class="custom-input-file__btn btn">Выберите файл</span>
                                <input type="text" class="form__field custom-input-file__text" value="Выберите файл" readonly>
                            </span>
                        </label>
                    </div>
                    <div class="submit__btn-wrap">
                        <div class="btn__wrap">
                            <button type="submit" class="btn btn_yellow-theme" value="отправить резюме">отправить резюме</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="popup__close"></div>
    </div>

<!-- форма обратного звонка -->
    <div class="popup callback-form">
        <div class="user-form popup-form">
            <div class="user-form__title popup-title">
                Обратный звонок
            </div>
            <div class="user-form__content">
                <p class="user-form__attention">
                    <span class="yellow_text">*</span>
                    Поля, обязательные для заполнения
                </p>
                <form action="" method="post">
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                ФИО контактного лица:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field" type="text" placeholder="Введите ФИО...">
                        </label>
                    </div>
                    <div class="field__wrap">
                        <label class="field__label">
                            <span class="field__title">
                                Контактный телефон:<span class="yellow_text">*</span>
                            </span>
                            <input class="form__field phone-mask" type="text">
                        </label>
                    </div>
                    <div class="submit__btn-wrap">
                        <div class="btn__wrap">
                            <button type="submit" class="btn btn_yellow-theme" value="отправить">отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="popup__close"></div>
    </div>




</div>