/************************* Модификаторы *************************/

.flex_row{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-align: center;
}
.flex_start{
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    justify-content:flex-start;
    -ms-flex-pack: start;
}
.align_start{
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-align: start;
}
.flex_wrap{
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex_between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.stretch{
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch;
}

.fl_r{
    float: right;
}
.fl_l{
    float: left;
}
.clear{
    clear: both;
}
.clearfix_::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.yellow_text {
    color: #fbca0b;
}
.clearfix_overflow{
    overflow: hidden;
}

.basic_width,
.lg_width{
    margin: 0 auto;
}
.basic_width{
    width: 1130px;
}
.lg_width{
    width: 1300px;
}


.centered{
    margin: 0 auto;
}
.text_center{
    text-align: center;
}

.bold{
    font-family: PFBeauSansPro-Bold;
}

.inline{
    display: inline-block;
    vertical-align: middle;
}


.w_auto{
    width: auto;
}

.rel{
    position: relative;
}



.hide{
    display: none;
}
.show{
    display: block;
}



.d_b{
    display: block;
}


.uppercase{
    text-transform: uppercase;
}

.default_link{
    display: inline-block;
    color: #3798cb;
    border-bottom: 1px solid #3798cb;
    line-height: 1;
}



.btn_yellow-theme{
    background-color: #fbca0b;
    color: #272a2e;
}


.desktop_hidden {
    display: none;
}

.position_relative {
    position: relative;
}

.content_width {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.underline_yellow {
    position: relative;
}

.underline_yellow::before {
    content: '';
    position: absolute;
    width: 125px;
    height: 6px;
    background-color: #fbca0b;
    bottom: -15px;
    left: 30px;
}

.padding_index {
    padding-left: 65px;
    padding-right: 17px;
}

.padding_index-zero {
    padding-left: 0;
    padding-right: 0;
}

.theme_dark {
    background-color: #070607;
}
